{% load static%}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>User Query</title>
</head>
<body>
<form>
    <h1 align="center" style="color:white"><strong><i>Queries of Users</i></strong></h1>
    <table>
        <thead style="color:white; font-family:cursive;">
        <tr>
            <th>S No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Description</th>
        </tr></thead>
{% if obj %}
{% for k in obj %}
<tbody>
<tr>
    <td>{{ forloop.counter }} </td>
    <td>{{k.name}}</td>
    <td>{{k.email}}</td>
    <td>{{k.content}}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
</form>
</body>
</html>